.p_featured {
    background:#fff;
    border:25px solid #f1db68;
    max-width: 400px;
}
.p_featured a {
    color:#222;
    text-align: center;
}
.p_ingreso {
    color:#222;
}
footer {
    margin-top:60px !important;
 }